body{
    background-color: #D3CEDF;
}

/* slider start */
.slider{
    background-color: #D3CEDF;
    width: 100vw;
    height: 480px;
    display: flex;
    justify-content: center;
}

.imgSlider {
    width: 800px;
    position: relative;
    overflow: hidden;
}

.imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.sliderImage{
    object-fit: cover;
    display: block;
    width: 800px;
    height: 480px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
/* slider end */


/* card start */

.card{
    padding-left: 20%;
}

.cardNumber{
    width: 23vw;
    height: 22.7vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.25);
}

.listCard{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.listCard3{
    display: none;
}

.cardNumber2{
    padding: 2px;
}

.cardMerge{
    display: flex;
    flex-direction: row;
}

.merged{
    display: flex;
    flex-direction: column;
}

.cardImg img{
    width: 20rem;
    height: 20rem;
}

.cardImg{
    display: flex;
    justify-content: center;
}

.card2{
    padding-left: 0%;
}

@media screen and (max-width: 1000px) {

    .slider{
        display: none;
    }

    .card2{
        display: none;
    }

    .card4{
        display: grid;
        grid-template-columns: auto auto;
    }

    .listCard2{
        display: grid;
        grid-template-columns: auto auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .listCard3{
        display: flex;
        /* grid-template-columns: auto auto; */
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 1000px) {

    .cardMerge{
        display: flex;
        flex-direction: column;
    }
}

/* card end */