body{
    background-image: url('../asset/background/violet.jpg');
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.card{
    padding-left: 20%;
}

.cardNumber{
    width: 24vw;
    height: 24.7vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.25);
    background-color: rgb(201, 164, 218);
}

.listCard{
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.listCard3{
    display: none;
}

.cardNumber2{
    padding: 2px;
}

.cardMerge{
    display: flex;
    flex-direction: row;
}

.merged{
    display: flex;
    flex-direction: column;
}

.cardImg img{
    margin-top: 1rem;
    width: 16rem;
    height: 16rem;
}

.cardImg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card2{
    padding-left: 0%;
}

@media screen and (max-width: 1000px) {

    .slider{
        display: none;
    }

    .card2{
        display: none;
    }

    .card4{
        display: grid;
        grid-template-columns: auto auto;
    }

    .listCard2{
        display: grid;
        grid-template-columns: auto auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .listCard3{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 768px) {

    .cardMerge{
        display: flex;
        flex-direction: column;
    }
}

.name{
    color: white;
    text-shadow: 2px 2px black;
}